/*! Load Fonts */
@import url("https://fonts.googleapis.com/css?family=Bree+Serif|Josefin+Sans|Josefin+Slab|Merriweather|Oswald|Roboto+Slab");
@import url("https://fonts.googleapis.com/css?family=Amatic+SC|Caveat+Brush|Cinzel|Gloria+Hallelujah|Indie+Flower|Kaushan+Script|Lobster|Luckiest+Guy|Permanent+Marker|Philosopher|Playfair+Display+SC");
body {
  padding: 0;
  margin: 0;
  padding-top: 5rem;
  font-size: 16px; }

@media (min-width: 200px) and (max-width: 500px) {
  .navbar {
    font-size: 0.5em;
    text-align: center; }
    .navbar > a {
      width: 100%;
      text-align: center; }
    .navbar > .help {
      width: 100%;
      text-align: center; } }

.container {
  max-width: 1000px;
  min-height: 100vh; }
  @media (min-width: 200px) and (max-width: 767px) {
    .container {
      margin-top: 10%; } }

.clear-all, .save-all {
  display: inline-block;
  width: 100%;
  margin-bottom: 2%;
  box-sizing: border-box;
  text-align: center; }
  @media (min-width: 771px) {
    .clear-all, .save-all {
      width: 49.7%;
      text-align: left; } }

@media (min-width: 771px) {
  .save-all {
    text-align: right; } }

.help > button {
  padding: 5px 10px;
  margin-right: 20px;
  position: relative; }
  .help > button:hover::before, .help > button:hover::after {
    display: inline-block; }
  .help > button::before {
    position: absolute;
    top: 50%;
    right: calc(100% + 10px);
    width: 100px;
    z-index: 9999;
    content: attr(data-title);
    color: #eee8d6;
    padding: 5px;
    font-size: 1em;
    border-radius: 5px;
    background: rgba(122, 122, 122, 0.9);
    transform: translateY(-50%);
    display: none; }
  .help > button::after {
    position: absolute;
    top: 50%;
    right: calc(100% + 5px);
    z-index: 99999;
    display: none;
    width: 0;
    height: 0;
    content: "";
    border: 5px solid transparent;
    border-right-width: 0;
    border-left-color: rgba(122, 122, 122, 0.9);
    transform: translateY(-50%); }

.clear_list, .save_list {
  background: #d14348;
  color: #eee;
  width: 50%;
  font-weight: bolder;
  letter-spacing: 0.2em; }
  .clear_list:hover, .save_list:hover {
    background: #a0272b; }
  @media (min-width: 771px) {
    .clear_list, .save_list {
      width: 50%; } }

.save_list {
  background: #0076a3; }
  .save_list:hover {
    color: #eee;
    text-decoration: none;
    background: #003f57; }

tr > td.icons [type=button] {
  background: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;
  font-size: 1em;
  color: #f39856;
  padding: 1px 5px; }
  tr > td.icons [type=button]:first-of-type {
    margin-right: 25px; }

.file-load {
  height: 26vh;
  min-height: 260px;
  max-height: 600px;
  border: 3px solid #444;
  background-color: #ddd;
  margin-bottom: 2%; }
  .file-load:hover {
    border-style: dashed;
    cursor: pointer; }
  .file-load .file-drop {
    width: 100%;
    height: 100%; }
    .file-load .file-drop form {
      width: 100%;
      height: 100%; }
      .file-load .file-drop form label {
        width: 100%;
        height: 100%;
        text-align: center; }
        .file-load .file-drop form label:hover {
          cursor: pointer; }
        .file-load .file-drop form label span {
          display: inline-block;
          text-align: center;
          border: 1px solid #eee;
          background: #0076a3;
          color: #eee;
          padding: 15px 15px;
          font-size: 1.2em;
          cursor: pointer;
          border-radius: 10px;
          margin-top: calc(25% / 2 - 3%); }
          .file-load .file-drop form label span:hover {
            background: #001a24; }
      .file-load .file-drop form input#multimedia_upload {
        opacity: 0;
        display: none; }

.file-info-container {
  display: none; }
  .file-info-container table {
    /* Bootstrap Overwrite */ }
    .file-info-container table.table td, .file-info-container table.table th {
      padding: 0.8em !important; }
    .file-info-container table thead {
      font-size: 1em;
      border-bottom: 1px solid #e3442d; }
      .file-info-container table thead th {
        vertical-align: middle; }
        .file-info-container table thead th:nth-child(n+3) {
          text-align: center; }
    .file-info-container table tbody {
      color: #ddd; }
      .file-info-container table tbody tr:hover {
        cursor: move; }
      .file-info-container table tbody tr > td:nth-child(2) {
        word-wrap: break-word;
        word-spacing: 2%; }
      .file-info-container table tbody > tr > td:not(:first-of-type) {
        text-align: center; }
      .file-info-container table tbody td {
        color: #f39856;
        font-size: 1em;
        letter-spacing: 50%;
        vertical-align: middle; }
        .file-info-container table tbody td.fileName {
          max-width: 350px;
          position: relative; }
          .file-info-container table tbody td.fileName:hover::before, .file-info-container table tbody td.fileName:hover::after {
            display: inline-block; }
          .file-info-container table tbody td.fileName::before {
            position: absolute;
            top: 50%;
            left: calc(75% + 5px);
            z-index: 2;
            display: none;
            width: 250px;
            padding: 12px;
            font-size: 0.9em;
            border-radius: 5px;
            background: #7a7a7a;
            color: #eee;
            content: attr(data-name);
            transform: translateY(-50%); }
          .file-info-container table tbody td.fileName::after {
            position: absolute;
            top: 50%;
            left: 75%;
            z-index: 1;
            display: none;
            width: 0;
            height: 0;
            content: "";
            border: 5px solid transparent;
            border-right-color: rgba(122, 122, 122, 0.9);
            border-left-width: 0;
            transform: translateY(-50%); }
        .file-info-container table tbody td.file_duration {
          min-width: 105px; }
    .file-info-container table tfoot {
      border-top: 1px solid #e3442d;
      font-size: 1em;
      padding: 0.75rem; }
      @media (min-width: 768px) {
        .file-info-container table tfoot {
          font-size: 1.2em; } }
      .file-info-container table tfoot #totalFileCount {
        font-size: 1.2em;
        margin-right: 1%; }
      .file-info-container table tfoot .totalText {
        text-align: center; }
      .file-info-container table tfoot #totalDuration {
        text-align: center;
        font-size: 0.9em;
        padding-bottom: 0.5rem !important; }
      .file-info-container table tfoot tr th {
        vertical-align: bottom;
        font-size: 70%; }

/*# sourceMappingURL=main.css.map */
