body
	padding-top: 5rem


.starter-template
	padding: 3rem 1.5rem
	text-align: center


.container
	max-width: 1000px

	.file-load
		height: 50vh
		max-height: 600px
		border: 3px solid #444
		background-color: #ddd
		margin-bottom: 5%

		&:hover
			border-style: dashed
			cursor: pointer

		.file-drop
			// text-align: center
			width: 100%
			height: 100%

			form
				// padding: calc(50vh / 2 - 7%) calc(100% / 2.6)
				width: 100%
				height: 100%

				label
					width: 100%
					height: 100%
					text-align: center

					&:hover
						cursor: pointer

					span
						display: inline-block
						text-align: center
						border: 1px solid #eee
						background: #a43
						color: #eee
						padding: 22px 15px
						// min-width: 150px
						font-size: 1.2em
						cursor: pointer
						margin-top: calc(50vh / 2 - 5%)

				input#multimedia_upload
					opacity: 0
					display: none


	table
		thead
			font-size: 1.2em
			// border-bottom: 1px solid #e3442d

			th:nth-child(n+3)
				text-align: center

		tbody
			color: #ddd
			// border-top: 1px solid #e3442d

			tr:hover
				cursor: move


			> tr > td:not(:first-of-type)
				text-align: center

			> tr > td.icons
				// padding: 0 10px
				[type=button]
					background: rgba(0,0,0,0.0)
					border: none
					cursor: pointer
					font-size: 1em
					color: red
					padding: 1px 5px

					&:first-of-type
						margin-right: 25px

			td
				color: red
				font-size: 1em

		tfoot
			border-top: 1px solid #e3442d
			font-size: .8em

			#totalFileCount
				font-size: 1.3em
				margin-right: 6%

			#totalDuration
				@extend #totalFileCount
				margin-left: 6%

			tr th:nth-child(3)
				text-align: right
				padding-right: 40px

			tr th:last-of-type
				text-align: right

			input[type=checkbox]
				visibility: hidden
				display: none

			.timeFormat
				font-size: 1.4em

				button
					cursor: pointer

				button.activeFormat
					color: lighten(green, 20%)

				/* Toggle Switch UI Style Buttons */
				.format-toggle
					font-family: Helvetica, Arial, sans-serif
					display: inline-block
					vertical-align: top
					margin: 0 15px 0 0


				.format-toggle__input
					display: none


				.format-toggle__button
					position: relative
					display: inline-block
					font-size: 1rem
					line-height: 20px
					text-transform: uppercase
					background: red
					border: 1px solid red
					width: 90px
					height: 30px
					color: white
					transition: all 0.1s ease
					cursor: pointer


				.format-toggle__button::before
					position: absolute
					top: 5px
					left: 44px
					content: "Sec"
					display: inline-block
					height: 20px
					padding: 0 3px
					background: white
					color: red
					transition: all 0.1s ease


				.format-toggle__input:checked + .format-toggle__button
					background: green
					border: 1px solid green


				.format-toggle__input:checked + .format-toggle__button::before
					left: 5px
					content: "Min"
					color: green
