@mixin break($args...)
	@if length($args) == 1
		@media (min-width: nth($args, 1))
			@content

	@if length($args) == 2
		@media (min-width: nth($args, 1)) and (max-width: nth($args, 2))
			@content

body
	padding: 0
	margin: 0
	padding-top: 5rem
	font-size: 16px



.container
	max-width: 1000px

	.file-load
		height: 30vh
		max-height: 600px
		border: 3px solid #444
		background-color: #ddd
		margin-bottom: 2%

		&:hover
			border-style: dashed
			cursor: pointer

		.file-drop
			// text-align: center
			width: 100%
			height: 100%

			form
				// padding: calc(50vh / 2 - 7%) calc(100% / 2.6)
				width: 100%
				height: 100%

				label
					width: 100%
					height: 100%
					text-align: center

					&:hover
						cursor: pointer

					span
						display: inline-block
						text-align: center
						border: 1px solid #eee
						background: #4a3
						color: #eee
						padding: 15px 15px
						// min-width: 150px
						font-size: 1.2em
						cursor: pointer
						border-radius: 10px
						margin-top: calc(25% / 2 - 5%)

				input#multimedia_upload
					opacity: 0
					display: none

	.clear
		margin-bottom: 2%

		.clear_list
			display: none
			background: #b43
			color: #eee

	.file-info-container
		display: none
		table
			/* Bootstrap Overwrite */
			&.table td, &.table th
				padding: .8em !important
				// vertical-align: bottom !important

			thead
				font-size: 1em
				border-bottom: 1px solid #e3442d

				th
					vertical-align: middle
					// text-align: center

					&:nth-child(n+3)
						text-align: center
					// &:nth-child(1)
						text-align: left

			tbody
				color: #ddd
				// display: block
				// min-height: 50px
				// border-top: 1px solid #e3442d

				tr:hover
					cursor: move

				tr > td:nth-child(2)
					word-wrap: break-word
					word-spacing: 2%
					// word-break: break-all


				> tr > td:not(:first-of-type)
					text-align: center

				> tr > td.icons
					// padding: 0 10px
					[type=button]
						background: rgba(0,0,0,0.0)
						border: none
						cursor: pointer
						font-size: 1em
						color: red
						padding: 1px 5px

						&:first-of-type
							margin-right: 25px

				td
					color: red
					font-size: .9em
					vertical-align: middle

					&.fileName
						max-width: 350px

			tfoot
				border-top: 1px solid #e3442d
				font-size: 1em
				padding: .75rem

				@include break(768px)
					font-size: 1.2em

				#totalFileCount
					font-size: 1.2em
					margin-right: 1%

				.totalText
					text-align: center

				#totalDuration
					// @extend #totalFileCount
					// margin-left: 6%
					text-align: center
					font-size: .9em
					// min-width: 120px
					padding-bottom: .5rem !important

					// @include break(768px)
						// font-size: .9em

				tr th
					vertical-align: bottom
					font-size: 70%

				// tr th:nth-child(3)
				// 	text-align: right
				// 	padding-right: 40px

				tr th:last-of-type
					// text-align: center

				input[type=checkbox]
					visibility: hidden
					display: none

				.timeFormat
					font-size: 1.4em

					button
						cursor: pointer

					button.activeFormat
						color: lighten(green, 20%)

					/* Toggle Switch UI Style Buttons */
					.format-toggle
						font-family: Helvetica, Arial, sans-serif
						display: inline-block
						vertical-align: top
						margin: 0 15px 0 0


					.format-toggle__input
						display: none


					.format-toggle__button
						position: relative
						display: inline-block
						font-size: 1rem
						line-height: 20px
						text-transform: uppercase
						background: red
						border: 1px solid red
						width: 90px
						height: 30px
						color: white
						transition: all 0.1s ease
						cursor: pointer


					.format-toggle__button::before
						position: absolute
						top: 5px
						left: 44px
						content: "Sec"
						display: inline-block
						height: 20px
						padding: 0 3px
						background: white
						color: red
						transition: all 0.1s ease


					.format-toggle__input:checked + .format-toggle__button
						background: green
						border: 1px solid green


					.format-toggle__input:checked + .format-toggle__button::before
						left: 5px
						content: "Min"
						color: green
