.clear_list
    display: none
    background: $red
    color: #eee
    width: 25%

tr > td.icons
    // padding: 0 10px
    [type=button]
        background: rgba(0,0,0,0.0)
        border: none
        cursor: pointer
        font-size: 1em
        color: $orange
        padding: 1px 5px

        &:first-of-type
            margin-right: 25px
