#helperModal
    letter-spacing: 1.2px
    #tabs li
        border: 1px solid #111
        border-radius: 5px 5px 0 0

        &.active
            background: $babyblue

        a
            text-decoration: none
            color: #222
            cursor: pointer

    .note
        color: #00f


#saveListModal

    label
        width: 100%

        .save-list-name
            width: 90%
            outline: none
            border: none
            border-bottom: 1px solid #000
            margin-left: 3%

    .saved-name-error
        font-size: .8em

    .modal-footer
        justify-content: center

        .save-list-btn
            margin-right: 28%


#clearListModal
    .modal-header
        h5
            text-decoration: underline

    .modal-footer
        justify-content: flex-start

        .clear-name-error
            margin: 0
            width: 60%

        // .modal-footer-btns
        //     width: 100%
        //     display: flex
        //     justify-content: flex-end

        .clear-list-confirm
            width: 45%
            button
                width: 100%

        .clear-list-deny
            width: 45%
            margin-right: 8%

            button
                width: 100%
                background: darken($babyblue, 15%)
                color: #eee
